@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar-brand{
    font-family: "Grandstander", sans-serif;
    font-size: 2em;
    font-weight: 900;
  
    
}

.navbar-toggler-icon, .navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:active
{
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 0px;
   
}

nav {
    font-family: "Grandstander", sans-serif;
    font-size: 1em;
    font-weight: 700;
}



.blue-bg{
     background-color: blue;
     color: yellow !important;
}

#yellow{
    color: yellow !important;
}

.no-bg{
    background-color: none;
}

.navlink .fa-toggle-off{
    color: white;

}

.navbar-light .navbar-toggler .navbar-toggler-icon{
    color:blue !important;
    font-weight: 600;
}

.navbar-toggler.collapsed .navbar-icon{
     font-family: FontAwesome;
  content: "\f0d8";
  font-size: 1em; 
}