@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.navbar-brand {
  font-family: "Grandstander", sans-serif;
  font-size: 2em;
  font-weight: 900;
}

.navbar-toggler-icon,
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 0px;
}

.menu-icon {
  font-size: 1.5em;
}

nav {
  font-family: "Grandstander", sans-serif;
  font-size: 1em;
  font-weight: 700;
}

.light .fa {
  position: absolute;
  float: right;
  right: 2%;
  top: 30px;
}

.grey-bg {
  background-color: lightgray;
}

.dark-bg {
  background-color: darkslategrey;
}

#play {
  font-family: "Grandstander", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  padding: 5px 20px;
  border-radius: 30px;
  
}

#play:hover,
#play:active,
#play:focus,
button:focus{
    border: none;
    outline: none
}
]
